
name: License Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:
  License-Check:
    runs-on: ubuntu-latest

    services:
      fossology:
        image: fossology/fossology:4.6.0
        ports:
          - 7100:80
    
    steps:
      - name: Get license engine
        uses: actions/checkout@v6
        with:
            repository: izus-fokus/license-engine

      - name: Sleep for 30 seconds
        run: sleep 30s

      - name: Health check fossology
        run: "curl http://localhost:7100/repo/api/v2/info"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --network=host --tag license-engine:0.0.3 --build-arg REPO_ACCESS_TOKEN=${{ secrets.REPO_ACCESS_TOKEN }} --build-arg GIT_USER=${{ vars.GIT_USER }}

      - name: Run license engine
        run: docker run -d --name=license-engine --network=host license-engine:0.0.3

      - name: Sleep for 10 seconds
        run: sleep 10s

      - name: Health check
        run: curl -X GET http://localhost:7000/api/v1/health

      - name: Stop container and remove container
        if: always()
        run: docker stop license-engine && docker rm license-engine

      - name: Download .license_ignorefiles file
        continue-on-error: true
        uses: carlosperate/download-file-action@v2
        with:
          file-url: 'https://raw.githubusercontent.com/${{ github.repository }}/${{ github.ref_name }}/.license_ignorefiles'
          file-name: '.license_ignorefiles'

      - name: Get defined license of repository
        id: get_repo_license
        continue-on-error: true
        uses: octokit/request-action@v2.x
        with:
          route: GET /repos/${{ github.repository }}/license
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Echo defined license of repository
        if: steps.get_repo_license.outcome == 'success'
        run: "echo defined license: ${{ fromJson(steps.get_repo_license.outputs.data).license.spdx_id }}"

      - name: Run License Engine with predefined license to be checked against
        if: steps.get_repo_license.outcome == 'success'
        run: docker run -d --name=license-engine --network=host license-engine:0.0.3 -e repo=$GITHUB_REPOSITORY -e branch=$GITHUB_REF_NAME -e license=${{ fromJson(steps.get_repo_license.outputs.data).license.spdx_id }}

      - name: Stop container and remove container
        if: always()
        run: docker stop license-engine && docker rm license-engine

      - name: Run License Engine without predefined license to be checked against
        if: steps.get_repo_license.outcome != 'success'
        run: docker run -d --name=license-engine --network=host license-engine:0.0.3 -e repo=$GITHUB_REPOSITORY -e branch=$GITHUB_REF_NAME

      - name: Clear the cache
        run: docker image prune --all --force
        
